@using EmporiumApp.Core.Application.ViewModels.User
@model UpdateAgentViewModel

@{
    ViewData["Title"] = "Update";
}

<div class="row">
    <div class="col-5 mx-auto">
        <div class="card shadow bg-white">
            <div class="card-body">
                @if (Model.HasError == true)
                {
                    <div class="alert alert-danger alert-dimissible fade show" role="alert">
                        <p>@Model.Error</p>
                        <button type="button" class="btn-close" data-bs-dimiss="alert" aria-label="Close"></button>
                    </div>
                }
                <form method="post" asp-controller="Agent" asp-action="UpdateAgent" class="row gap-3 my-3" enctype="multipart/form-data">

                    <div class="text-center my-2">
                        <h3 class="text-dark w-100">
                            Edit Profile
                        </h3>
                    </div>
                    <section class="col-10 mx-auto mt-2">

                        <div class="form-floating mb-3">
                            <input asp-for="FirstName" class="form-control" placeholder="FirstName" />
                            <label asp-for="FirstName"> FirstName </label>
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>

                        <div class="form-floating mb-3">
                            <input asp-for="LastName" class="form-control" placeholder="LastName" />
                            <label asp-for="LastName" class="form-label">LastName </label>
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <input asp-for="PhoneNumber" class="form-control" placeholder="Phone number" />
                            <label asp-for="PhoneNumber" class="form-label">Phone number </label>
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>

                    </section>

                    <input type="hidden" asp-for="Id" name="Id" value="@Model.Id" />

                    <section class="col-11 mx-auto">
                        <div class="form-group mb-3">
                            <label asp-for="ProfilePictureFile" class="form-label text-dark fw-bold">Select a profile photo </label>
                            <input required asp-for="ProfilePictureFile" class="form-control">
                        </div>
                    </section>
                    <div class="col-11 mx-auto">
                        <button type="submit" class="btn btn-primary btn-lg w-100 mt-2">Save</button>
                        <a asp-controller="Agent" asp-action="Index" class="btn btn-secondary w-100 mt-2">Back</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
