@using EmporiumApp.Core.Application.ViewModels.User
@model ManagerSaveViewModel
@{
    bool editMode = Model.Id == null || Model.Id == "" ? false : true;
}


<div class="row">
    <div class="col-5 mx-auto">
        <div class="card shadow">
            <div class="card-body">


                @if (Model.HasError == true)
                {
                    <div class="alert alert-danger alert-dimissible fade show" role="alert">
                        <p>@Model.Error</p>
                        <button type="button" class="btn-close" data-bs-dimiss="alert" aria-label="Close"></button>
                    </div>
                }


                <form asp-controller="Admin" asp-action=@(editMode ? "Update" : "Add") method="post" class="row gap-3 my-3">

                    <div class="text-center my-2">
                        <h3 class="text-dark w-100">
                            @(editMode ? "Edit Admin" : "Add Admin")
                        </h3>
                    </div>


                    <section class="col-5 mx-auto mt-2">

                        <div class="form-floating mb-3">
                            <input asp-for="CardId" class="form-control" placeholder="Cedula" />
                            <label asp-for="CardId"> Document Number </label>
                            <span asp-validation-for="CardId" class="text-danger"></span>
                        </div>

                        <div class="form-floating mb-3">
                            <input asp-for="FirstName" class="form-control" placeholder="Firstname" />
                            <label asp-for="FirstName"> Firstname </label>
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>

                        <div class="form-floating mb-3">
                            <input asp-for="LastName" class="form-control" placeholder="Lastname" />
                            <label asp-for="LastName" class="form-label">Lastname </label>
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>

                    </section>
                    <section class="col-5 mx-auto mt-2">

                        <div class="form-floating mb-3">
                            <input asp-for="UserName" class="form-control" placeholder="Username" />
                            <label asp-for="UserName" class="form-label"> Username </label>
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>

                        <div class="form-floating mb-3">
                            <input asp-for="Password" class="form-control" placeholder="Password" />
                            <label asp-for="Password" class="form-label">Password </label>
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>

                        <div class="form-floating mb-3">
                            <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm password" />
                            <label asp-for="ConfirmPassword" class="form-label">Confirm password </label>
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>

                    </section>

                    <input type="hidden" asp-for="Id" name="Id" value="@Model.Id" />

                    <div class="col-11 mx-auto">

                        <div class="form-floating mb-3">
                            <input asp-for="Email" class="form-control" placeholder="Email" />
                            <label asp-for="Email" class="form-label">Email </label>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <button type="submit" class="btn btn-success btn-lg w-100 mt-2">Save</button>
                        <a asp-controller="Admin" asp-action="AdminList" class="btn btn-close-white w-100 mt-2">Back</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>